.bounceIn {
animation:bounceIn;
animation-delay:4s;
animation-duration:4s;
}

.menu-icon-wrapper .menu-icon{
-webkit-animation:placeholder-wave 10s linear infinite;
animation:placeholder-wave 10s linear infinite;
}

.bi-chevron-double-down {
font-size:60px;
-moz-animation: maze 2s infinite linear;
-o-animation: maze 2s infinite linear;
-webkit-animation: maze 2s infinite linear;
animation: maze 2s infinite linear;
}

@keyframes maze {

0% {
padding-top:0;
opacity:1;
}

50% {
padding-top:40px;
opacity:1;
}

100% {
padding-top:0px;
opacity:1;
}
}

.strongly {
font-family: 'Dancing Script', cursive;
font-size:55px;
animation:fadeInUpBig;
animation-delay:3.9s;
animation-duration:1.3s;
}

.strongly1 {
font-family: 'Dancing Script', cursive;
font-size:25px;
animation:fadeInUpBig;
animation-delay:3.9s;
animation-duration:1.3s;
}

.cardpost1 {
animation:fadeInDown;
animation-delay:3.9s;
animation-duration:6s;
}

.cardpost2 {
animation:fadeInDown;
animation-delay:3.9s;
animation-duration:6s;
}
