html {
scroll-behavior: smooth;
}

i {
display:inline-block;
padding:2%;
}

.h11 {
font-size:50px;
}

.buy {
font-family: 'Domine', serif;
}

hr {
border:1px solid;
}

a:hover {
text-decoration:none!important;
}
