@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
     font-family: 'Ubuntu', sans-serif;

 }
.search-box {
position:absolute;
    background:#2f3640;
    border-radius:40px;
    height:73px;
    padding:7px;
    box-shadow:0px 0px 10px 0px rbg(0,0,0,0.2);
}

.search-btn{
border:none;
    background:crimson;
    border-radius:50%;
    float:right;
    display:flex;
    width:58px;
    height:58px;
    justify-content:center;
    align-items:center;
    outline:none;
    font-weight:bold;
    color:#FFFFFF;
    box-shadow: 0px 0px 10px 0px crimson;

}

.search-txt {
transition: 1.0s;
margin:6px;
    background:none;
    border:none;
    outline:none;
    float:left;
    font-size:16px;
    color:crimson;
    font-weight:bold;
    width:0px;
line-height:50px;
}
.search-box:hover {
width:85%;
}
.search-box:hover > .search-txt {
padding-left:15px;
width:300px;
display:block;
color:#ffffff;
}

.search-box:hover > .search-btn {
display:none;
background:crimson;
    color:#FFFFFF;
    box-shadow:0px 5px 20px 0px crimson;
}
